<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="multitouch.android.vogella.com.reflx">

    <application
        android:allowBackup="true"
        android:icon="@drawable/design"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".title" android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:hardwareAccelerated="true" android:screenOrientation="landscape">
        </activity>
        <activity android:name=".howtoplay" android:screenOrientation="portrait"></activity>
        <activity android:name=".howtoplay2" android:screenOrientation="portrait"></activity>
        <activity android:name=".highscores" android:screenOrientation="portrait"></activity>
    </application>

</manifest>